*{
	margin: 0;
	padding: 0;
}
body{
	background: url(images/bg.png) no-repeat ;
	height: 100%;
}
#head{
	text-align: center;
	margin: 50px 0px 0px 0px;
}
#container{
	width: 1360px;
}


#main{
	width:860px;
	height: 400px;
	margin: 70px 0px 50px 250px;
	float: left;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}
#foot{
	width: 1350px;
	height: 50px;
	background-color: #999999;
	background: rgba(255,255,255,0.3);
	float: left;
	margin: 100px 50px 0px 0px;
	text-align: center;
	color:white;
	font-size: 15px;
}




#main .title{
	width:450px;
	height: 70px;
	background: rgba(225,225,225,0.3);
	color: white;
	font-size: 20px;
	margin: 20px 0px 0px 200px;
	text-align: center;
	font-family: "微软雅黑";
	letter-spacing: 2px;

}

input{
	margin: 20px 0px 0px 0px;
	width: 356px;
	height: 40px;
	background: rgba(0,128,0,0);
	border: 1px solid rgba(255,255,255,0.3);
	color: rgba(225,255,255,1);
	font-weight: bold;
	font-size: 15px;
    letter-spacing: 1px;
    font-family: "微软雅黑";
}
 .Re .reset{
	width:100px;
	height:45px;
	line-height: 45px;
	display: block;
	margin: 30px 0px 0px 380px;
	color: white;
	letter-spacing: 2px;
	font-family: "微软雅黑";
	text-align: center;
	text-decoration: none;
}

.box .button{
	width:356px;
	height:45px;
	line-height: 45px;
	display: block;
	background: rgba(225,255,255,0.2);
	margin: 50px 0px 0px 250px;
	font-family: "微软雅黑";
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: bolder;
	text-decoration: none;
	text-align: center;
	color: white;
    border: 1px solid rgba(255,255,255,0.3);
   	transition: all 0.3s ease;
   	-webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
   	position: relative;
}

.box .button:hover{
	border: 1px solid rgba(225,255,255,0.3);
	background:rgba(255,225,255,0.7);
   	position: relative;
}
.box .line{
	background-color: rgba(225,255,255,0.3);
}
/* */
.box .line-top{
	width: 0px;
	height: 1px;
	display: block;
	position: absolute;
	top:-1px;
	left: -100%;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.box .button:hover .line-top{
	width: 355px;
	left: -1px;
	border: 1px solid rgba(255,255,255,0.3);
	opacity: 1;

}

.box .line-bottom{
	width: 0px;
	height: 1px;
	display: block;
	position: absolute;
	bottom:-1px;
	right: -100%;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.box .button:hover .line-bottom{
	width: 355px;
	right: -1px;
	border: 1px solid rgba(255,255,255,0.3);

}


