@charset "utf-8";
a,img{border:0;}
.clearfix a,a:visited{color:#fff; text-decoration:none;}
.clearfix a:hover{color:#333;text-decoration:underline;}
/* navbox */
.navbox,.nav li,.nav li.current a,.nav li.selected a span,
.nav li a.selected,.nav li a.selected span{
	background:rgba(52,83,145,1);
}
.navbox{
	height:39px;
	background-position:0 -138px;
	background-repeat:repeat-x;
	position:relative;
	z-index:9;
}
.nav{width:960px;margin:0 auto;}
.nav li{float:left;height:39px;
	background-position:100% -99px;
	padding:0 3px 0 2px;
	position:relative;}
.nav li.last{background:none;}
.nav li a{
	float:left;
	display:block;
	padding:0 0 0 4px;
	height:45px;
	overflow:hidden;}
.nav li a span{
	float:left;
	display:block;
	padding:0 4px 0 0;
	line-height:45px;
	font-size:18px;
	color:#fff;
	font-weight:800;
	cursor:pointer;
	width:142px;
	text-align:center;}
.nav li.selected a,.nav li a.selected{
	background-position:0 -60px;
	text-decoration:none;}
.nav li.selected a span,.nav li a.selected span{
	background-position:100% -60px;
	color:#66ffaa;}
.nav li.selected .submenu{display:block;}
.nav li .submenu{display:none;position:absolute;top:39px;left:6px;text-align:center;}
.nav li .submenu{border-style:solid;
	border-width:0px 1px 1px 1px;
	border-color:#ddd;padding:0 5px 5px 5px;
	width:132px;
	background:rgba(52,83,145,0.6);}
.nav li .submenu{
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-moz-box-shadow:0 5px 5px #D3D3D3;
	-webkit-box-shadow:0 5px 5px #D3D3D3;
	box-shadow:0 5px 5px #D3D3D3;}
.nav li .submenu li{float:none;padding:0;
	background:none;
	height:auto;
	border-bottom:dotted 1px #BEBEBE;}
.nav li .submenu li.last{border:none;}
.nav li .submenu li a{float:none;
	padding:0;
	ext-align:center;
	height:28px;
	line-height:28px;
	background:none;}
.nav li .submenu li a:hover{background:#ddd;font-weight:800;}

