<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx.xsd 
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd"
                    xmlns:tx="http://www.springframework.org/schema/tx">
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:orcl</value>
		</property>
		<property name="username">
			<value>Liusiyuan</value>
		</property>
		<property name="password">
			<value>78125691</value>
		</property>
		<property name="driverClassName">
			<value>oracle.jdbc.OracleDriver</value>
		</property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="mappingResources">
			<list>
				<value>team/hnucs/edu/entity/Teacher.hbm.xml</value>
				<value>team/hnucs/edu/entity/Student.hbm.xml</value>
				<value>team/hnucs/edu/entity/CourseSelection.hbm.xml</value>
				<value>team/hnucs/edu/entity/ExamArrangement.hbm.xml</value>
				<value>team/hnucs/edu/entity/Course.hbm.xml</value>
				<value>team/hnucs/edu/entity/Score.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<aop:config>
		<aop:pointcut id="txServices" expression="execution(* team.hnucs.edu.service..*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txServices"/>
	</aop:config>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<bean id="TeacherLoginAction" class="team.hnucs.edu.action.LoginAction">
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
	</bean>
	<bean id="AdminManageStudentAction" class="team.hnucs.edu.action.admin.AdminManageStudentAction">
		<property name="stuService">
			<ref bean="studentService" />
		</property>
	</bean>
	<bean id="AdminManageTeacherAction" class="team.hnucs.edu.action.admin.AdminManageTeacherAction">
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
	</bean>
	<bean id="studentService" class="team.hnucs.edu.service.impl.StudentServiceImpl">
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
	</bean>
	<bean id="teacherService" class="team.hnucs.edu.service.impl.TeacherServiceImpl">
		<property name="teacherDAO">
			<ref bean="teacherDAO" />
		</property>
	</bean>
	<bean id="courseService" class="team.hnucs.edu.service.impl.CourseServiceImpl">
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="examArrangementService" class="team.hnucs.edu.service.impl.ExamArrangementServiceImpl">
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
		<property name="eaDAO">
			<ref bean="examArrangementDAO" />
		</property>
	</bean>
	<bean id="scoreService" class="team.hnucs.edu.service.impl.ScoreServiceImpl">
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
		<property name="scoreDAO">
			<ref bean="scoreDAO" />
		</property>
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="courseSelectionService" class="team.hnucs.edu.service.impl.CourseSelectionServiceImpl">
		<property name="courSelDao">
			<ref bean="courseSelectionDAO" />
		</property>
		<property name="teacherDao">
			<ref bean="teacherDAO" />
		</property>
		<property name="studentDao">
			<ref bean="studentDAO" />
		</property>
		<property name="courDao">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="studentDAO" class="team.hnucs.edu.dao.impl.StudentDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="courseSelectionDAO" class="team.hnucs.edu.dao.impl.CourseSelectionDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="examArrangementDAO" class="team.hnucs.edu.dao.impl.ExamArrangementDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="teacherDAO" class="team.hnucs.edu.dao.impl.TeacherDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="scoreDAO" class="team.hnucs.edu.dao.impl.ScoreDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="courseDAO" class="team.hnucs.edu.dao.impl.CourseDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>